---
import { AppConfig } from '@/utils/AppConfig';

const year = new Date().getFullYear();
const { author, siteName } = AppConfig;
---

<div class="border-t border-gray-600 pt-5">
  <div class="text-right text-xs text-zinc-500">
    <p>©{year} {siteName}. All rights reserved.</p>
    <p>
      Barrenechea is a <a
        class="text-zinc-400 hover:text-zinc-300"
        href="/trademark"
        >registered trademark
      </a>
      of {author}.
    </p>
  </div>
</div>
